{% extends "base.html" %}
{% load static %}

{% block variablecontent%}
<div class="row">
 <div class="col-sm-8">
	 
	 <h1>{{object.samplename}} {{ object.composition }}</h1>
	    	  <table class="table">
       <tbody>
         <tr class="table-success">
<td> <h3> Currently in storage? </h3> </td> 
<td>{{object.instorage }} </h3></td>
</tr>


</tbody>

<tr class="table-warning"><td>Responsible: {{ object.owner }} </td><td> Tel. {{object.Telephone}}</td>
<tr class="table-warning">
	
<td>First Stored: {{ object.date_added|date }}</td><td>Location: {{object.location}} </td>  
<tr class="table-warning"><td>Number of boxes: {{object.numberOfBoxes}} </td><td>Number of Samples: {{object.numberOfSamples}} </td>
</tr>

<tr class="table-warning"> <td>Origin: {{object.origin}} </td><td> Batch: {{object.batch}} </td></tr>
<tr class="table-warning"><td>Beamtime: {{object.beamtime}} </td><td> Characterisation: {{object.characterisation}} </td> </tr>
</table>

<h1>Other info:</h1> <p> {{ object.otherinfo }} {{object.reports_set.pdffiles.url}}</p>
</div>

<div class="col-sm-4">
<div class="grid-item">
    <img src="{{object.picture.url }}" alt="add alt field to picture field" style="width:100%">
</div>
    </div>
    </div>

<br>


<br>  
    
     <div class="row">
     <div class="col-sm-6 ">
	{% for mycif in object.samplecif_set.all %}
	<p><a href="{{mycif.ciffiles.url}}"> Download cif </a></p>
	{%endfor %}
	 <p style="font-size:0.6em"> {{mycif|safe}}  </p>

</div>
<div class="col-sm-6">
{% for report in object.reports_set.all %}
<object data="{{report.pdffiles.url}}" type="application/pdf" width="100%" height="100%">
<iframe src="{{report.pdffiles.url}}" width="100%" height="100%" style="border: none;">
This browser does not support PDFs. Please download the PDF to view it: 
<a href="{{report.pdffiles.url}}">Download PDF</a>
</iframe>
</object>
{% endfor %}
</div>
</div>

{% endblock %}

